<!--Home navbar-->
<div th:fragment="home-navbar">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" th:href="@{/addressbook}">Address Book App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="homeNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/addressbook}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Quit</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

