* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    height: 100%;
    box-sizing: border-box;
    background: rgba(125,151,244,0.5);
}

.content-container {
    height: 100%;
    width: 100%;
}

h2 {
    color: #7D97F4;
}

.form-container {
    height: 600px;
    background-color: #170B87;
    max-width: 500px;
    padding: 2em 0;
    color: #4244e6;
    border-radius: 10px;
    box-shadow: 10px 10px #4244e6;
}

.form-input {
    border: 1px solid #170B87;
}

.form-input:focus {
    box-shadow: 1px 1px 5px #4244e6, -1px -1px 5px #4244e6;
}

label {
    color: #7D97F4;
    font-weight: bold;
}

option {
    color: #170B87;
}

option:checked {
    background-color: #4244e6;
}

.new-person-btn {
    border: 2px solid #4244e6;
    color: #fff;
    font-weight: bold;
    background-color: #4244e6;
}

.new-person-btn:hover {
    background-color: #7D97F4;
    border-color: #7D97F4;
    color: #170B87;
    font-weight: bold;
}