* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    height: 100%;
    box-sizing: border-box;
    background: rgba(125,151,244,0.5);
}

.conditional-header {
    color: #170B87;
    font-weight: bold;
}

.main-header {
    color: #170B87;
    font-weight: bold;
}

.main-container {
    height: 100%;
    width: 100%;
}

.content-container {
    height: 100%;
    width: 100%;
    max-width: 600px;
}

.person-card {
    background-color: #170B87;
    border-radius: 5px;
    box-shadow: 5px 5px #4244e6;
    color: #7D97F4;
}

.person-header {
    border-bottom: 2px solid #7D97F4;
    border-right: 2px solid #7D97F4;
}

a {
    text-decoration: none;
}

.delete-btn {
    font-weight: bold;
    text-decoration: none;
    background-color: #FF8C87;
    color: #170B87;
    border-color: #FF8C87;
}

.delete-btn:hover {
    background-color: #FDA8A5;
    border-color: #FDA8A5;
}